pymatreader==0.0.30
roiextractors @ git+https://github.com/catalystneuro/roiextractors.git@8db5f9cb3a7ee5efee49b7fd0b694c7a8105519a
nwb-conversion-tools @ git+https://github.com/catalystneuro/nwb-conversion-tools.git@c23b0c6235f17ee40752b1aea23f7f55c0e755a7
